/*Top Bar*/
/* Logo Section */
.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px; 
    padding-right: 20px;
    margin: 0; 
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 10
}

#logo {
    width: 80px;
    height: 80px;
}

/* Action Buttons */
.button-wrapper {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 20px; 
    padding-right: 20px;
    margin: 0; 
    position: relative; 
    top: -35px;
    z-index: 10;
}

.action-bg-strip {
    background-color: #F5EFEF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    width: fit-content; 
    border-radius: 8px;
}

.action-buttons-container {
    display: flex;
    gap: 10px; 
}

.btn-action {
    background-color: #E6CBAF;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    line-height: 1; 
  
   clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
   border-radius: 12px;
    
}

.btn-action:hover {
    background-color: #D4B494;
}

/* Home & Book Now Buttons */
.btn-home-book {
    background-color: #D9D9D9;
    color: black;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; 
}

.btn-home-book:hover {
    background-color: #C4C4C4;
}

/*Landing Page*/
/*main Screen*/
.main-screen{
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    height: 100vh;          
    width: 100%;              
    gap: 40px;
}

#salon-background{
    position: absolute;  /* Position it relative to the page */
    top: 10%;
    left: 0;
    width: 100%;  /* Make the image span the entire width of the screen */
    height: 90vh;  /* Make the image fill the full height of the viewport */
    object-fit: cover;  /* Ensure the image covers the area without stretching */
    z-index: -1;  /* Make sure the image stays behind the content */
    opacity: 0.5;

    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}
#salon-background-return{
    position: absolute;  /* Position it relative to the page */
    left: 0;
    width: 100%;  /* Make the image span the entire width of the screen */
    height: 110vh;  /* Make the image fill the full height of the viewport */
    object-fit: cover;  /* Ensure the image covers the area without stretching */
    z-index: -1;  /* Make sure the image stays behind the content */
    opacity: 0.5;
}
.btn-return-home{
    background-color: #E6CBAF; /* Light background */
    color: black;
    border-radius: 300px; /* Creates the pill shape */
    padding: 100px 200px; /* Thicker padding for a more prominent pill shape */
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    transition: 0.3s;
    font-size: 40px;
}
.btn-return-home:hover {
    background-color: #D4B494; /* Slightly darker on hover */
}
/* Style for the Book Now button */
.btn-central-book {
    background-color: #E6CBAF; /* Light background */
    color: black;
    border-radius: 50px; /* Creates the pill shape */
    padding: 16px 40px; /* Thicker padding for a more prominent pill shape */
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    transition: 0.3s;
}
  
.btn-central-book:hover {
    background-color: #D4B494; /* Slightly darker on hover */
}

/* Font styling */
h1 {
    font-size: 26px;
    margin: 0; 
    font-family: 'Tangerine', Italiana;
}
h2{
    font-size: 70px;
    margin: 0; 
    font-family: 'Tangerine', Italiana;
    text-align: center;
}

/*Services Page*/
.services-container {
    text-align: left;
    padding: 20px;
  }
  
  .services-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
  }
  
  .services-header p {
    font-size: 18px;
    color: #555;
    text-align: center;
  }
  
  /* Grid Styling */
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 20px; /* Space between items */
    margin-top: 20px;
  }
  
  .service-item {
    position: relative;
    height: 250px;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .service-item img.service-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1; 
  }
  
  .service-item h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-style: italic; /* Italicized service titles */
  }
  
  .service-item p {
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
    font-style: italic; /* Italicized service description */
  }
  
  .service-item:hover {
    opacity: 0.9;
  }
  
/* Booking Page*/
.booking-container {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}
  
.booking-header h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}
  
.booking-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
  
.input-container {
    position: relative;
    flex: 1;
    margin: 10px;
}
  
input, textarea {
    width: 100%;
    padding: 10px;
    padding-left: 35px; /* Space for the icon */
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="datetime-local"] {
    padding-left: 35px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

input[type="datetime-local"]::-webkit-datetime-edit {
    font-size: 14px;
}

input[type="tel"], input[type="email"], input[type="text"] {
    font-size: 16px;
}
  
input + i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #888;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: #E6CBAF;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #D4B494;
}

.choose-service-btn, .book-now-btn {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


input[type="tel"], input[type="email"], input[type="text"], input[type="datetime-local"], textarea {
    padding-left: 35px; 
}


.booking-row-2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.phone-email-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.name-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-column input {
    padding-left: 45px;
}
.phone-email-column .input-container i,
.name-column .input-container i {
    font-size: 20px;
    color: #888;
}

/*Stylist info / client info*/
.profiles-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
  }
  

  .profiles-header h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
  }
  
  .profiles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5EFEF;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .profile-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  
  .profile-portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
  }
  
  .profile-description {
    font-size: 16px;
    color: #555;
    text-align: left;
    max-width: 300px;
  }

  .testimonials-button {
    text-align: center;
  }
  
  .testimonials-btn {
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    background-color: #E6CBAF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .testimonials-btn:hover {
    background-color: #D4B494;
  }
  

.testimonials-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
  }

  .testimonials-header h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
  }
  

  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
  }
  

  .testimonial-profile {
    background-color: #F5EFEF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
  }

  .testimonial-profile h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  

  .testimonial-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .testimonial-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }
  
  .testimonial-image.right {
    margin-top: -10px; 
  }
  
  .testimonial-text {
    font-style: italic;
    font-size: 16px;
    color: #333;
  }

 /* Contact and Location */
.contact-container {
    display: flex;
    height: 100vh;
    margin: 0; 
    padding: 0;
    justify-content: right;
    padding-right: 60px;
}

.contact-info {
    width: 300px;
    background-color: #F5EFEF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

.contact-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.contact-info p {
    font-size: 1.1em;
}

.social-links {
    margin-top: 15px;
}

.map-container {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

iframe {
    width: calc(100vw - 500px); 
    height: calc(100vh - 120px); 
    border: none;
    position: absolute; 
    top: 120px; 
    left: 0; 
}


@media screen and (max-width: 768px) {
    .contact-info {
        width: 100%;
        height: auto;
        box-shadow: none; 
    }
    .map-container {
        height: 400px;
    }
}


